.taskContainer{
    display: flex;
    flex-direction: row;
}

.task{
    display: flex;
    flex-direction: column;
    background-color: var(--colorPaleOrange);
    padding: 15px;
    border: 1px solid var(--colorSidebarLiXlightBlue);
    min-width: 30%;
    width: 100%;
}

.task:hover{
    background-color: var(--colorLightOrange);
}

.select{
    background-color: var(--colorLightOrange);
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid var(--colorGrey);
    border-radius: 2px;
}

.select input{
    width: 35px;
    height: 35px;
    justify-self: left;
}

.select h5{
    justify-self: left;
    padding-left:30px
}

.task h5{
    text-align: left; 
}

.taskDate{
    display: flex;
    width: 60%;
    color:var(--color2);
    border: 1px solid var(--colorGrey);
    padding: 5px 5px 5px 5px;
    justify-content: center;
    background-color: var(--color6);
    border-radius: 2px;
}

.taskTitle{
    padding: 5px 0 5px 0;
}

.taskAuthor{
    color: var(--color1);
    padding: 5px 0 5px 0;
}

.taskDocStatus{
    color:var(--color9);
    font-weight: light;
    padding: 5px 0 5px 0;
}
