.sideBarMainContainer{
    display: flex;
    min-width: 40%;
    width: 50%;
    min-height: 100vh;
}

.sideBarSubContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sideBarMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--colorSidebarLightBlue);
    min-width: 40%;
}
.sideBarMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBarMenu li{
 text-align: left;
 padding: 15px;
 border: 1px solid var(--colorSidebarLiXlightBlue);
 border-radius: 2px;
 color:var(--colorGrey);
 cursor: pointer;
}

.sideBarMenu .clicked{
    background-color: var(--colorPaleOrange);
    color:var(--colorOrange)
}

.sideBarMenuDetails{
    display: flex;
    width: 400px;
}

.sideBarMainContainer h5{
    text-align: left;
    margin: 0;
}

.title{
    color:black;
    padding: 15px 15px 5px 15px;
}

.clientName{
    padding: 0px 15px 5px 15px;
    text-align: left;
    color:var(--colorMediumBlue);
}

.menuDetailsTitle{
    background-color: var(--colorPaleOrange);
    padding: 15px 15px 15px 15px;
}