.sideBarMainContainer{
    display: flex;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.sideBarSubContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 40%;
    position: relative;
}

.sideBarMenu{
    display: flex;
    flex-direction: column;
    background-color: var(--colorSidebarLightBlue);
    min-width: 10%;
    width:10%;
    position: relative;
}
.sideBarMenu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBarMenu li{
 text-align: left;
 padding: 15px;
 border: 1px solid var(--colorSidebarLiXlightBlue);
 border-radius: 2px;
 color:var(--colorGrey);
 cursor: pointer;
}

.sideBarMenu .clicked{
    background-color: var(--colorPaleOrange);
    color:var(--colorOrange)
}

.sideBarMenuDetails{
    min-width: 20%;
    width: 20%;
    position: relative;
}

.sideBarMainContainer h5{
    display: flex;
    text-align: left;
    margin: 0;
    position: relative;
}

.title{
    color:black;
    padding: 15px 15px 5px 15px;
}

.clientName{
    padding: 0px 15px 5px 15px;
    text-align: left;
    color:var(--colorMediumBlue);
}

.menuDetailsTitle{
    background-color: var(--colorPaleOrange);
    padding: 15px 15px 15px 15px;
}

@media (max-width: 1000px) {

  }