table{
    width: 100%;
    border: 1px 1px 1px 0 solid var(--colorTableBorder);
}

th{
    color:var(--colorGrey);
    padding-left: 15px;
}

tr{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding:15px;
    border: 1px solid var(--colorTableBorder);
    width: 100%;
}

.teamMemberContainer{
    display: flex;
    align-items: center;
}

.avatarEmployee{
    display: flex;
    width: 10%;
    justify-content: center;
    position: relative;
    padding-left: 0;
}
.namPosition{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

td{
    display: flex;
    position: relative;
    padding: 0px 0px 0px 15px;
}

.position{
    color:var(--colorMediumBlue)
}
