.plannerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-color:lightgreen ;
}

/* Graph */
.graph{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    overflow: auto;
    overflow-y: hidden;
    background-color: var(--colorSidebarLightBlue);
}

.graphBarContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.graphBarContainer:hover{
    border-radius: 2px;
    border:1px solid gray;
    background-color: white;
    box-shadow: 0.3px 0.3px gray;
}

.graphBar{
    width: 30px;
    height: 100px;
    background-color: var(--colorSidebarLiXlightBlue);
    margin: 10px;
}

.completion100{
    background-color:var(--colorCompletion100);
}

.increaseDecreaseButton{
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorTableBorder);
    color: var(--colorTableBorder);
    margin: 0px 10px 10px 10px;
    border-radius: 2px;
    cursor:pointer
}

.graphBarDate{
    width: 30px;
    height: 30px;
    color: var(--colorTableBorder);
    margin: 0px 10px 20px 10px;
    border-radius: 2px;
    font-size: small;
}

/* Legend */

.legend{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--colorSidebarLightBlue);
    width: 30%;
    padding: 15px;
}

.dateRange{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.dateRange a{
    font-size: 30px;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid var(--colorAddFilter);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    color: var(--colorAddFilter);
    padding-bottom: 10px;
    position: relative;
    margin: 0px 5px 0px 5px ;
}

.dateRange a:hover{
    text-decoration: none;
}

.dateRange p{
    display: flex;
    height: 28px;
    background-color: var(--colorDateRange);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colorAddFilter);
    border-radius: 2px;
    font-weight: lighter;
    font-size: 0.8rem;
}

.legendDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0 0 15px;
}

.legendDetails p{
    margin: 0;
    padding: 0;
    color:var(--colorAddFilter);
    font-size:0.9rem;
    font-weight:100;
}

.legendDetails p span{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   justify-self: right;
}