.unselected{
    background-color: var(--colorSidebarLightBlue);
}

.tabsIcon{
    padding-right: 5px;
}

.icons{
    color: var(--colorAddFilter);
    margin-right: 10px;
  }

  li{
      display: flex;
      align-items: center;
  }