.unselected{
    background-color: var(--colorSidebarLightBlue);
}

.tabsIcon{
    padding-right: 5px;
}

.icons{
    color: var(--colorAddFilter);
    margin-right: 10px;
    cursor: pointer;
  }

  li{
      display: flex;
      align-items: center;
  }

  .tabDetails p span{
      padding: 0;
      padding-left: 10px;
  }

  .tabDetails p{
      cursor: pointer;
  }