table{
    width: 100%;
    border: 1px 1px 1px 0 solid var(--colorTableBorder);
}

th{
    color:var(--colorGrey)
}

tr{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding:15px;
    border: 1px solid var(--colorTableBorder);
    width: 100%;
}

.avatarEmployee{
    display: flex;
    width: 10%;
 
    justify-content: center;
}
.namPosition{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

td{
    display: flex;
}

.namPosition{
    
}