:root {
  --colorMediumBlue:#b7bad6;
  --colorSidebarLightBlue:#f5f7fa;
  --colorSidebarLiXlightBlue: #f1f0fa;
  --colorOrange:#fb934b;
  --colorLightOrange:#fff3e2;
  --colorPaleOrange: #fff9f2;
  --colorGrey: #9595a2;
  --colorRightPanelTitles:#34344b;
  --colorAddFilter:#686985;
  --colorTableBorder:#d6dbe3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
