nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    border-bottom: 0.3px solid gray ;
    z-index: 8;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    margin: 10px;
    align-items: center;
    color:var(--colorAddFilter)
}

nav ul li a{
    color:var(--color1);
}

nav ul li a:hover{
    color:var(--color1);
    text-decoration: none;
}

.icons{
    display: flex;
    align-items: center;
    justify-self: right;
}

.icon{
    padding: 10px;
    font-size: 15px;
}

.larger{
    font-size: 35px;
}

.navLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navLogo{
    width: 100px;
    margin-left:15px;
}